<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>  
    <div class="row">
            <div class="col-lg-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="<%= foundProduct.img %>" class="card-img-top" alt="<%= foundProduct.name %>">
                    <div class="card-body">
                        <h2 class="card-title"><%= foundProduct.name %></h2>
                        <h5 class="card-title"><%= foundProduct.price %></h5>
                        <p class="card-text"><%= foundProduct.desc %></p>
                        <a href="#" class="btn btn-primary">Buy</a>
                        <% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>  
    <div class="row">
        

            <div class="col-lg-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="<%= foundProduct.img %>" class="card-img-top" alt="<%= foundProduct.name %>">
                    <div class="card-body">
                        <h2 class="card-title"><%= foundProduct.name %></h2>
                        <h5 class="card-title"><%= foundProduct.price %></h5>
                        <p class="card-text"><%= foundProduct.desc %></p>
                        <a href="#" class="btn btn-primary">Add to card</a>
                        <a href="#" class="btn btn-secondary">Buy Now</a>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5">Leave a review</h1>
            </div>
    </div>    
</body>
</html>
