<% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %>  
    <div class="row">
            <div class="col-lg-4">
                <div class="card shadow" style="width: 18rem;">
                    <img src="<%= foundProduct.img %>" class="card-img-top" alt="<%= foundProduct.name %>">
                    <div class="card-body">
                        <h2 class="card-title"><%= foundProduct.name %></h2>
                        <h5 class="card-title"><%= foundProduct.price %></h5>
                        <p class="card-text"><%= foundProduct.desc %></p>
                        <a href="/products/<%= foundProduct._id %>/edit" class="btn btn-light">Edit</a>
                        <a href="#" class="btn btn-primary">Add to card</a>
                        <a href="#" class="btn btn-success">Buy Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h1 class="display-5">Leave a review</h1>
                <form action="/products/<%= foundProduct._id %>/reviews" method="POST">
                    <div class="mb-3">
                        <fieldset class="starability-basic">
                            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="rating" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="rating" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="rating" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="rating" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="rating" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <div class="mb-3">
                        <label class="form-lable" for="comment">Comment:</label>
                        <textarea  class="form-control" id="comment" name="comment" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Review</button>
                </form>
                <div class="my-3">
                    <% for(let review of foundProduct.reviews){ %>
                        <div class="card">
                                <p class="starability-result" data-rating="<%= review.rating %>">
                                Rated: <%= review.rating %> stars
                                </p>
                            <div class="card-body">
                                <p class="card-text">Comment: <%= review.comment %></p>
                                <a href="#" class="btn btn-primary">Delete</a>
                            </div>
                                <% if(review.createdAt){ %>
                                    <p>
                                        <small class="text-muted">Posted on <%= review.createdAt.toLocaleDateString() %></small> 
                                    </p>
                                <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
    </div>    

